[Desktop Entry]
Exec=/usr/bin/sos-easy-install-plugins/plugins/flash
Version=1.0
Type=Application
Name=Flash plugin
Name[bg_BG]=Adobe Flash Plugin
GenericName=Adobe Flash Plugin
GenericName[bg_BG]=Adobe Flash Plugin
Comment=Install Adobe Flash Plugin
Comment[bg_BG]=Инсталиране на Adobe Flash Plugin
Icon=/usr/share/icons/sos-ei-app-icons/flash-menu.png
Categories=AudioVideo;Player;Qt;
StartupNotify=false
