[Desktop Entry]
Exec=/usr/bin/sos-easy-install-plugins/plugins/flash
Version=1.0
Type=Application
Name=Adobe Flash Player
Name[bg_BG]=Adobe Flash Player
GenericName=Adobe Flash Player
GenericName[bg_BG]=Adobe Flash Player
Comment=Install Adobe Flash Player
Comment[bg_BG]=Инсталиране на Adobe Flash Player
Icon=/usr/share/icons/sos-ei-app-icons/flash-menu.png
Categories=AudioVideo;Player;Qt;
StartupNotify=false
