[Desktop Entry]
Exec=/usr/bin/sos-easy-install-plugins/plugins/video-drivers
Version=1.0
Type=Application
Name=Video drivers
Name[bg_BG]=Инсталиране на видео драйвери
GenericName=Video drivers
GenericName[bg_BG]=Инсталиране на видео драйвери
Comment[bg_BG]=Намиране и инсталиране на видео драйвер
Icon=/usr/share/icons/sos-ei-app-icons/video-drivers-menu.png
Categories=AudioVideo;Player;Qt;
StartupNotify=false

