[Desktop Entry]
Name=sos-easy-install
GenericName=sos-easy-install
Icon=/usr/share/icons/hicolor/96x96/apps/sos-easy-install.png
Comment=Automated configurations
Comment[bg]=Автоматична инсталация на софтуер & Системни настройки
Exec=sos-easy-install
Terminal=false
Type=Application
Categories=System;Utility;X-Red-Hat-Base;X-Fedora;
